$navbarItemheight: 40px;
$navbarItemCount: 5;

.container {
    position: fixed;
    left: 0px; 
    top: calc(50% - (($navbarItemCount * $navbarItemheight) / 2));
    padding: 0px 30px;
    -webkit-animation: fadeIn 3s ; /* Chrome, Safari, Opera */
    animation: fadeIn 3s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}